/* === LAYOUT GENERAL === */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* Ocupa toda la pantalla */
  width: 100%;
  overflow-x: hidden;
}

/* === CONTENIDO PRINCIPAL === */
.layout-content {
  flex: 1;             /* Ocupa todo el espacio disponible entre Navbar y Footer */
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
